@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .justify-if-hi\:start:has(.hi) {
    justify-content: flex-start;
    transition: all;
    animation-duration: 1000;
    animation: normal;
  }
}
